include README.md
include LICENSE
include requirements.txt
include DEVELOPER.md
include VOICES.md
recursive-include yue *.py
recursive-include yue *.typed
recursive-include yue *.txt
recursive-include yue *.json